html,
body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    font-size: 14px;
}

.login {
    background-image: url(/static/images/loginwallpaper.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginForm form {
    margin-top: 5%;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: transparent;
    box-shadow: 0 0 20px 0 #49c5b6;
    float: center;
    margin-bottom: 2%;
    align-items: center;
    font-size: 16px;
    font-style: bold;
}

.loginForm label {
    font-style: italic;
}

.loginForm input {
    border: 1px solid #bdbdbd !important;
    border-radius: 5px;
}

.loginForm input:hover {
    box-shadow: 0 0 6px 0 #49c5b6;
}

.loginForm input:focus {
    box-shadow: 0 0 6px 0 #49c5b6 !important;
}

.loginForm .btn {
    background-color: #49c5b6;
    padding: 20px !important;
}

.loginForm .help-block {
    color: red;
    text-align: center;
}

.alert li {
    color: red;
}

.cardsIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectImage {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.card-img1 {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

#overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.projectImage:hover .card-img1 {
    opacity: 0.3;
    transform: scale(1.03) !important;
}

.projectImage:hover #overlay {
    opacity: 1;
}