                    .icons {
                        font-size: 22px !important;
                    }
                    
                    .icons i {
                        margin-right: 10px;
                    }
                    
                    #header-top {
                        display: flex;
                        position: relative;
                        justify-content: space-between;
                        align-items: center;
                        height: 70px;
                        border-bottom: 1px solid #E6EAEA;
                        margin-right: 3px;
                        margin-left: 3px;
                    }
                    
                    .box-left {
                        width: 15%;
                    }
                    
                    .box-center {
                        width: 70%;
                        text-align: center;
                    }
                    
                    .box-right {
                        width: 15%;
                    }
                    
                    #header {
                        position: relative;
                        top: 0;
                        height: 70px;
                        line-height: 73px;
                        font-size: 13px;
                        font-weight: 400;
                        background-color: #f4f7f6;
                        justify-content: flex-end;
                    }
                    
                    header {
                        display: block !important;
                    }
                    
                    #searchform {
                        width: 30%;
                        border-radius: 6px;
                        float: left;
                        align-items: center;
                        font-size: 16px;
                        font-style: bold;
                    }
                    
                    .searchForm {
                        display: flex;
                    }
                    
                    .awwards {
                        font-weight: bold !important;
                    }
                    
                    .loginDets {
                        float: right;
                        padding-right: 23px;
                        padding-left: 23px;
                        margin-right: 10%;
                    }
                    
                    .box-center2 {
                        width: 50%;
                        text-align: center;
                    }
                    
                    .box-right2 {
                        float: right;
                    }