{%load static%}
<div class="navbar fixed-top bg-white">
    <nav class="container-fluid">
        <span class="h5 mb-o">
            <div id="english" ><u>English</u></div>
        </span>

        <span class="heading">
            <p>The awards of design, creativity and innovation on the internet</p>
        </span>
        <span class="pull-right icons">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>

    </nav>
</div>