{%load static%}
<div id="header-top">
    <div class="box-left">
        <div class="item">
            <span class="h5 mb-o">
                <div id="english"><u>ENGLISH</u></div>
            </span>
        </div>
    </div>
    <div class="box-center">

        <p class="slogan">The awards of design, creativity and innovation on the internet</p>

    </div>
    <div class="box-right">
        <span class="pull-right icons">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </span>
    </div>

</div>

<header id="header">

    <div id="header-top">
        <div class="box-left">
            <div class="item">
                <span class="h5 mb-o">
                    <div id="english"><u>Menu</u></div>
                </span>
            </div>
        </div>
        <div class="box-center2">
            <form class="mb-0 ml-auto mr-auto" id="searchform" action="" role="search">

                <div class="input-group">
                    <input class="form-control py-2 border-right-0  border text-center" type="search" placeholder="search" id="searching" name="search_profile">
                    <span class="input-group-append">
                        <button class="input-group-text bg-transparent border-left-0 sm" type="submit">
                            <i class="fa fa-search "></i>
                        </button>
                    </span>
                </div>
            </form>
            <a href="/">
                <h1 class="slogan awwards">awwards.</h1>

            </a>

        </div>
        <a href="" class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50">REGISTER/LOGIN</a>
        <a href="" class="f-12 font-weight-bold px-4 h-100 btn d-flex align-items-center text-light submitBtn">SUBMIT YOUR SITE!</a>

    </div>
</header>