{% extends 'awwards/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container" style="margin-top:8%">
    <h5 class="mb-4 mt-4">{{project.title}} by {{project.user.username}} <span id="heart"> <i class="fas fa-heart"></i></span></h5>

    <div class="card">
        <div class="view overlay" style="background-image:url({{project.project_image.url}})">
            <img class="card-img-top" style="visibility:hidden" width="100%" src="{{ project.project_image.url }}-/crop/1440x720/center/-/quality/lightest/" alt="{{project.title}}">
            <a href="">
                <div class="mask rgba-black-slight">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 d-flex flex-row mx-auto" style="margin-top:20%">
                                {% for rates in project.rates.all %} {% if forloop.counter is project.rates.all.count %}
                                <div id="design">{{ rates.design_average}}<br>
                                    <span class="rates">design</span>
                                </div>
                                <div id="usable" class="mx-auto">{{ rates.usability_average }}<br>
                                    <span class="rates">usability</span>
                                </div>
                                <div id="contente">{{ rates.content_average }}<br>
                                    <span class="rates">content</span>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>{{project.title|title}}</strong>
                <a href="{{ project.project_url }}" style="float:right" class="btn btn-sm btn-info mr-4"> Visit </a>
            </h5>
            <p>by <span><a href=" " id="usern" class="mr-2">{{project.user.username|title }}</a></span>
            </p>
            <p>{{ project.description }}</p>
            <hr>
            <p class="card-text "><img src="{{project.user.profile.prof_pic.url}}" class="nav-img mr-2" alt=""> By {{project.user.username|title}} <span style="float:right">{{project.pub_date|date}}</span>
            </p>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3 class="D-block mx-auto">Ratings Scores</h3>
                    {% for rates in project.ratings.all %} {% if forloop.counter is project.ratings.all.count %}
                    <a class="btn btn-info btn-sm">
                        <h5>{{ rates.score }}</h5>
                        <span class="sc">Average Score</span>
                    </a>
                    <a class="btn btn-outline-success btn-sm">
                        <h5>{{ rates.design_average }}</h5>
                        <span class="sc">Design Average</span>
                    </a>
                    <a class="btn btn-outline-primary btn-sm" id="u">
                        <h5>{{ rates.usability_average }}</h5>
                        <span class="sc">Usability Average</span>
                    </a>
                    <a class="btn btn-outline-danger btn-sm" id="c">
                        <h5>{{ rates.content_average }}</h5>
                        <span class="sc">Content Average</span>
                    </a>
                    {% endif %} {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>

            {% if rates_status %}
            <h5>You have already voted</h5>
            {% else %} {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{rating_form|crispy}}
                <button class="btn btn-sm btn-info">Rate</button>
            </form>
            {% endif %} {% endif %}
        </div>

    </div>



    {% for review in ratings %}
    <div class="row">
        {% if project.id == review.project.id %}
        <div class="col-md-2"> <img src="{{review.user.profile.prof_pic.url}}" style="height:40px;width:40px;border-radius:50%"> Rating by : <b> {{review.user.username}}</b></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-lg">{{review.design}}</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg">
                    {{review.usability}}
    
                </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg">{{review.content}}</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-secondary btn-lg">{{review.average}}</button>
        </div>


        {%endif%}

    </div>
    <hr> {% endfor %}



</div>
{% endblock %}